.full-container {
    width: 100%;
    position: relative;
}

.close-btn {
    position: absolute;
    right: 0;
    top: 0;
    background-color: whitesmoke;
    padding: 0.5rem;
    border-radius: 50%;
    margin-right: -10px;
    margin-top: -10px;
}

.close-btn:focus {
    box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.5);
}

.form-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    // border: 1px solid red;
}

.input-row {
    width: 100%;
    display: flex;
    // align-items: center;
    justify-content: space-between;
    // border: 1px solid red;
}

.input-row mdb-form-control {
    // border: 1px solid green;
    width: 47%;
}

.image-container {
    // margin-top: 20px;
    max-width: 200px;
    max-height: 150px;
    // border: 1px solid red;
    overflow: auto;
}
img {
    max-width: 100%;
    max-height: 100%;
    // border: 1px solid blue;
}

.footer{
    // border: 1px solid green;
    width: 100%;
    text-align: right;
    margin-top: -2rem;
}

.divider {
    width: 100%;
    height: 2px;
    color:lightgray;
}