<div class="btn-gradient" style=" height:100vh">
  <div style="display: flex; ">
    <div class="container " style="padding-bottom:40px">
      <div class="container "
        style="display: flex; align-items: center; justify-content: center; flex-direction: column; align-items: center; padding-bottom: 0px">
        <div style="margin-top:0px ; height: 12vh;">
        </div>
        <div>
          <div class="card custom-card" style="box-shadow: 2px 2px 10px;  position: relative; ">
            <div class="card-body" style="display: flex; flex-direction: column; justify-content: center;">
              <a href="https://nighwantech.com/" target="_blank">
                <img src="../../assets/login/maintop.png" alt="klve"
                  style=" border-radius: 0px; margin-left: 10px; height: 100%; width: 100%;"></a>

                  <h3 style="margin-top: 10px; margin-bottom: 0px;">Welcome Back !</h3>

              <form (ngSubmit)="onSubmit()" name="loginForm" [formGroup]="loginForm" style="border: 0px solid red; ">

                <div style="background-color: white;">
                  <div>
                    <label for="username" style="font-weight: 500; padding-bottom: 15px;"></label>
                    <mdb-form-control style="border: 0px solid; border-radius:0px;">
                      <input formControlName="username" style="color: rgb(111, 107, 107); width:100%;padding:5px ; font-weight: 400;" id="username" class="form-control" mdbInput id="form1" />

                      <label mdbLabel class="form-label" for="form1">Enter Username</label>
                    </mdb-form-control>
                    
                  </div>
                </div>
                <div style="background-color: white;">
                  <div>
                    <label for="password" style="font-weight: 500;padding: 10px 0px;"></label>

                    <div style="position: relative; width: 100%;">
                      <mdb-form-control style="border: 0px solid ; border-radius: 0px;">
                        <input style="color: rgb(111, 107, 107); padding: 5px; font-weight: 800;
                                    border-radius: 10px; padding-right: 40px;" formControlName="password" matInput
                          [type]="hide ? 'password' : 'text'" id="password" class="form-control" mdbInput id="form2"
                          required />
                        <label mdbLabel class="form-label" for="form2">Enter Password Id</label>
                      </mdb-form-control>
                      <button style="position: absolute; top:-7px;
                       right: 5px;  
                      " mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>
                          {{hide ? 'visibility_off' : 'visibility'}}
                        </mat-icon>
                      </button>
                    </div>
                    <mat-error *ngIf="submitClicked &&!loginForm.controls['password'].valid"
                      style="background-color: white;">
                      Password is required
                    </mat-error>
                  </div>
                </div>
                <div class="form-check" style="padding-top:10px ;padding-bottom: 10px;">
                  <input
                    mdbCheckbox
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckDefault"
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                    Remember Me
                  </label>
                </div>
                <span>
                  <a class="text-link" class="aLink me-5" routerLink="../forgot-password">Forgot Password?</a>
                </span>

                <button mat-flat-button class="custom-button-color btn btn-gradient btn-block mb-4"
                  style="border-radius: 30px; margin-top:20px ;"><mat-icon>lock_open</mat-icon>Sign in</button>
              </form>
            </div>
          </div>         
        </div>
      </div>    
    </div>  
 </div>
</div>