<div class="full-container">
    <div class="modal-header">
      <h2 class="modal-title" id="exampleModalLabel">{{isEdit ? 'Edit' : 'Add'}} Skill</h2>
      <button type="button" class="btn-close close-btn" aria-label="Close" (click)="modalRef.close()"></button>
      <!-- <hr> -->
    </div>
    <div class="modal-body">
      <form class="form-body">
        <div class="input-row">
          <mdb-form-control>
            <select mdbInput id="form8Example6" (change)="printVal($event)" class="form-control" value="{{skillOptions[2]}}" aria-labelledby="dropdownMenuLink" mdbValidate
                required>
                <option [value]="" disabled selected hidden></option>
                <!-- <option [value]="'option1'">Option1</option>
                <option [value]="'option2'">Option2</option>
                <option [value]="'option3'">Option3</option> -->
                <option *ngFor="let skill of skillOptions" [value]="skill">{{skill}}</option>
              </select>
            <label mdbLabel class="form-label" for="form8Example6">Skill<span class="text-danger">*</span></label>
  
            <i class="fas fa-caret-down"
              style="position: absolute; top: 50%; transform: translateY(-50%); right: 10px;"></i>
          </mdb-form-control>
          <mdb-form-control>
            <input mdbInput type="text" id="form1" [value]="formValues && formValues.exp" class="form-control input-item" />
            <label mdbLabel class="form-label" for="form1">Years of Experience</label>
          </mdb-form-control>
        </div>
  
        <div class="input-row">
          <mdb-form-control>
            <textarea mdbInput class="form-control" id="textAreaExample" rows="4"></textarea>
            <label mdbLabel class="form-label" for="textAreaExample">Comment</label>
          </mdb-form-control>
  
          <div class="col upload-img" style="width: fit-content; margin-left: 1rem;">
            <div style="display: flex; flex-direction: column;  margin-bottom: 0.5rem;">
              <label mdbLabel for="document">Upload document</label>
              <input id="document" type="file" (change)="onFileSelected($event)" accept="image/*">
            </div>
            <div *ngIf="imageUrl" class="image-container">
              <img [src]="imageUrl" alt="Uploaded Image">
            </div>
          </div>
        </div> 
        <div class="divider">&nbsp;</div>
        <div class="footer">
          <button class="btn btn-rounded mx-2"
            style="border: 1px solid var(--orange-primary); color: var(--orange-primary);"
            (click)="modalRef.close()">Cancel</button>
          <button type="submit" class="btn btn-primary btn-rounded mx-2">Submit</button>
        </div>
      </form>
   </div>
  </div>