// .main{
//     height: 100vh;
//     border-radius:20px;
//     padding: 5px 20px; 
// }

.button {
    width: 100%;
    display: flex;
    justify-content: space-between;
 }

 .main{
    padding: 5px 20px;
}