<app-job-sub-header></app-job-sub-header>
<div class="container bg-light">
    <div class="navbar2 mt-4">
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
        "
      >
        <div> 
          <h3 style="font-weight: bold"> Offer Approvals</h3> 
        </div>
  
        <mat-form-field class="filter">
          <mat-label>Filter</mat-label>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Search Here..."
            #input
          />
        </mat-form-field>
      </div>
    </div>
  
    <div class="round-button">
      <button
        mat-fab
        extended
        (click)="toggleTabs()"
        matTooltip="Add Education "
        aria-label="Button that displays a tooltip in various positions"
        color="warn"
      >
        <i class="fas fa-plus fa-2x" style="color: rgba(10, 253, 253, 0.773)"></i>
      </button>
    </div>
  
    <div *ngIf="showTabs" class="modal-overlay">
      <div
        class="modal-dialog"
        (click)="preventClose($event)"
        style="position: relative"
      >
        <button
          mat-icon-button
          (click)="toggleTabs()"
          class="close-icon"
          style="position: absolute; top: -20px; right: -20px; cursor: pointer"
        >
          <i
            class="far fa-times-circle"
            style="background-color: orange; border-radius: 14px"
          ></i>
        </button>
  
        <form
          class="modal-content"
          style="
            border: 0px solid green;
            position: relative;
            border-radius: 20px;
            height: 270px;
            width: 500px;
          "
        >
          <form>
            <button
              mat-icon-button
              (click)="toggleTabs()"
              class="close-icon"
              style="
                position: absolute;
                top: -20px;
                right: -20px;
                cursor: pointer;
                z-index: 30;
              "
            >
              <i
                class="far fa-times-circle"
                style="background-color: orange; border-radius: 14px"
              ></i>
            </button>
  
            <div
              class="model-body"
              style="margin-left: 40px; border-bottom: 0px solid black"
            >
              <div style="position: absolute; top: 20px; left: 20px; width: 95%">
                <div style="border-bottom: 2px solid lightgray; width: 95%">
                  <h2
                    style="
                      border: 0px solid;
                      margin: 0px 0px 7px 0px;
                      color: black;
                    "
                  >
                    <b>Add Education</b>
                  </h2>
                </div>
  
                <div
                  style="
                    display: flex;
                    flex-wrap: wrap;
                    gap: 4%;
                    border: 0px solid;
                    padding-top: 15px;
                  "
                  class="commentresp"
                >
                  <div style="width: 47%">
                    <mdb-form-control class="tex-tbox">
                      <input
                        mdbInput
                        type="text"
                        id="inputfeild"
                        class="form-control"
                        formControlName=""
                        required
                      />
                      <label mdbLabel class="form-label" for="form1"
                        >Education name<span class="text-danger">*</span></label
                      >
                    </mdb-form-control>
                  </div>
                </div>
                <br />
                <div
                  style="border-bottom: 2px solid lightgray; padding-bottom: 20px"
                ></div>
                <br />
                <div class="mycontainer">
                  <div class="req">
                    <span class="text-danger req">*</span> Required
                  </div>
                  <div style="text-align: right">
                    <button
                      type="button"
                      class="btn btn-outline-primary btn-rounded"
                      data-mdb-ripple-init
                      (click)="toggleTabs()"
                      data-mdb-ripple-color="dark"
                      style="
                        color: orange;
                        border: 2px solid orange;
                        margin-right: 20px;
                        box-shadow: 1px 1px;
                      "
                    >
                      Cancel
                    </button>
                  </div>
                  <div class="sub">
                    <button
                      type="submit"
                      class="btn btn-primary btn-rounded"
                      data-mdb-ripple-init
                    >
                      Submit
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </form>
      </div>
    </div>
  
    <div class="table-container mat-elevation-z8 bg-light">
      <div
        style="
          background-color: #ececec;
          max-width: 100% !important;
          width: 100% !important;
          overflow: scroll;
          position: relative;
          height: 320px;
        "
      >
        <table
          mat-table
          [dataSource]="dataSource"
          matSort
          class="mat-elevation-z8"
        >
          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef style="width: 50px">
              <mat-checkbox
                (change)="$event ? toggleAllRows() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
                [aria-label]="checkboxLabel()"
              >
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row" style="width: 50px">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)"
                [aria-label]="checkboxLabel(row)"
              >
              </mat-checkbox>
            </td>
          </ng-container>
  
          <!--  ID Column -->
          <ng-container matColumnDef="id">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="width: 50px"
            >
              ID
            </th>
            <td mat-cell *matCellDef="let row" style="width: 50px">
              {{ row.id }}
            </td>
          </ng-container>
  
          <!-- Image Column -->
          <ng-container matColumnDef="image">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="width: 50px"
            >
              Image
            </th>
            <td mat-cell *matCellDef="let element" style="width: 50px">
              <img
                *ngIf="element.image"
                [src]="element.image"
                alt="User Image"
                style="width: 45px; height: 45px"
                class="rounded-circle"
              />
            </td>
          </ng-container>
  
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let row">{{ row.name }}</td>
          </ng-container>
  
          <!-- Job Title Column -->
          <ng-container matColumnDef="jobTitle">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Job Title</th>
            <td mat-cell *matCellDef="let element">{{ element.jobTitle }}</td>
          </ng-container>
          <!-- Job Type Column -->
          <ng-container matColumnDef="jobType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Job Type</th>
            <td mat-cell *matCellDef="let element">{{ element.jobType }}</td>
          </ng-container>
  
          <!-- Pay Column -->
          <ng-container matColumnDef="pay">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Pay</th>
            <td mat-cell *matCellDef="let element">
              {{ element.pay | currency }}
            </td>
          </ng-container>
  
          <!-- Annual IP Column -->
          <ng-container matColumnDef="annualIP">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Annual IP</th>
            <td mat-cell *matCellDef="let element">{{ element.annualIP }}</td>
          </ng-container>
  
          <!-- Long Term IP Column -->
          <ng-container matColumnDef="longTermIP">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Long Term IP
            </th>
            <td mat-cell *matCellDef="let element">{{ element.longTermIP }}</td>
          </ng-container>
  
          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td
              mat-cell
              *matCellDef="let element"
      
            >
            
              <label
                [ngClass]="['text-center',getStatusClass(element.status),'ont-weight-bold'] "
                style="display: inline-block; min-width: 90px"
                >{{ element.status }}</label
              >
          
            </td>
          </ng-container>
  
          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <i class="fa fa-pencil m-r-5"></i> Edit
                </button>
                <button mat-menu-item>
                  <i class="fa-regular fa-trash-can m-r-5"></i>Delete
                </button>
              </mat-menu>
            </td>
          </ng-container>
  
          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            (click)="selection.toggle(row)"
          ></tr>
  
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="7">
              No data matching the filter "{{ input.value }}"
            </td>
          </tr>
        </table>
      </div>
    </div>
    <mat-paginator
      class="paginator"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>